@using Microsoft.AspNetCore.Identity
@using GameShop.Areas.Identity.Data

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@inject SignInManager<GameShopUser> SignInManager
@inject UserManager<GameShopUser> UserManager

@{ 
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
}

<a asp-controller="Home"
   asp-action="Index"
   asp-route-userName=@null
   asp-route-categoryName="AllGames"
   asp-route-lang="@culture.RequestCulture.UICulture.Name">
   <img src="~/img/logo.png" alt="Logo icon" height="60">
</a>
@if (SignInManager.IsSignedIn(User))
{
    <div class="text-light">@localizer["Hello"], @UserManager.GetUserName(User)!</div>
    <div class="row">
        <a id="user-games" class="col nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index" asp-route-userName=@UserManager.GetUserName(User) title=@localizer["My games"]>@localizer["My games"]</a>
        <form id="logoutForm" class="col form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logoutButton" type="submit" class="nav-link btn btn-link text-light">@localizer["Logout"]</button>
        </form>
    </div>
}
else
{
    <a  href="/Identity/Account/Login">
        <img src="~/img/login.png" alt="Login icon" height="60">
    </a>

}
