@model IEnumerable<lab9.Models.Note>

<h1 class="text-center"> NOTES</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoteNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoteText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoteNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.NoteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NoteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>